*.class
*.jar
*.zip
*.war
*.log

build/
.gradle/

.project
.classpath
.settings/

.DS_Store
.Spotlight-V100
.Trashes

!gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
